Source/NHibernate.Extensions.Tests/bin/*
Source/NHibernate.Extensions.Tests/obj/*
Source/NHibernate.Extensions/bin/*
*.suo
Source/NHibernate.Extensions/obj/*
Source/packages/*
*.user
Source/NHibernateX.Extensions.Tests/bin/
Source/NHibernateX.Extensions.Tests/obj/
Source/NHibernateX.Extensions/obj/
Source/NHibernateX.Extensions/bin/
Source/TestResults/
*.nupkg
